@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(86, 18, 91);
    background: linear-gradient(339deg, rgba(86, 18, 91, 1) 0%, rgba(40, 10, 80, 1) 100%);
    min-height: 100vh;
    text-align: center;
    font-family: Montserrat;
}

h1 {
    font-family: Nabla, cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 10em;
}
